:root{
    --div-height: 8rem;
    --box-width: 7rem;
    --countDown-bgColor: rgba(255, 255, 255, 0.70);
    --top-text-size: 1.7rem; 
}

body
{
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0b3d91;
    background: linear-gradient(90deg, rgba(47,137,255,1) 7%, rgba(107,207,251,1) 53%, rgba(255,255,255,1) 100%);
    background-size: cover;
}

.text{
    font-size: 4.8rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.separators{
    font-size: 4rem;
}

.container{
    width: 45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.span-text{
    text-align: center;
    font-size: var(--top-text-size);
}

.time-text{
    margin-top: 1rem;
    
    text-align: center;
    font-size: var(--top-text-size);
}

.countdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: var(--div-height);
    /* background-color: var(--countDown-bgColor); */
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--div-height);
    width: var(--box-width);
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

.progress-bar{
    display: flex;
    justify-content: center;

    position: relative;
}

.color-fill-div{
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: rgb(132 196 222);
}

.progress-bar2{
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.555);
}

.pBar-item{
    display: flex;
    align-items: center;
}

.int-circle{
    border: 1px solid black;
    border-radius: 50%;
    height: 35rem;
    width: 35rem;

    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.color-fill{
    border-radius: 50%;
    height: 35rem;
    width: 35rem;
}

.ext-circle{
    border: 1px solid black;
    border-radius: 50%;
    height: 38rem;
    width: 38rem;

    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.bar-ext-fill{
    height: 100%;
    border-radius: 50%;
}

.buttons{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 3rem;
    font-size: 3rem;
}

.btn{
    text-align: center;
    color: white;
    background-color: #0b3d91;
    border: none;
    border-radius: 0.5rem;
    width: 5rem;
}

.btn:hover{
    cursor: pointer;
}

.btn:disabled{
    background-color: #ffffffd8;
    color: #0b3d91;
    cursor: not-allowed;
}

.pause{
    margin: 0rem 2rem 0rem 2rem;
}

.percentage{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: var(--top-text-size);
}

/* tablets*/
@media only screen and (max-width: 768px){
    .container{
        width: 70vw;
    }

    .top-text{
        top: 22%;
    }

    .time-text{
        height: 1.5rem;
    }

    .countdown{
        height: 6rem;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text{
        font-size: 4rem;
    }

    .int-circle{
        width: 65vw;
        height: 65vw;
    }

    .color-fill-div{
        width: 65vw;
        height: 65vw;
    }

    .ext-circle{
        width: 80vw;
        height: 70vw;
    }

    .box{
        height: 6rem;
        width: 13vw;
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

    .separators{
        font-size: 3rem;
        padding-bottom: calc(var(--separators-height)*0.1);
    }

    .buttons{
        top: 70%;
        height: 2.5rem;
    }

    .btn{
        width: 4rem;
    }

    .pause{
        margin: 0rem 2rem 0rem 2rem;
    }
}

/*large mobile*/
@media only screen and (max-width: 600px){ 
    .container
    {
        width: 80vw;
    }

    .countdown
    {
        height: 5rem;
    }

    .int-circle{
        width: 65vw;
        height: 65vw;
    }

    .ext-circle{
        width: 70vw;
        height: 70vw;
    }

    .span-text{
        font-size: 1.3rem;
    }

    .time-text{
        height: 2.7rem;
        font-size: 1.3rem;
    }

    .text{
        font-size: 3.5rem;
    }

    .box
    {
        font-size: 3.5rem;
        height: 4rem;
        width: 10vw;
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

    .separators
    {
        font-size: 2.3rem;
        padding-bottom: calc(var(--separators-height)*0.05);
    }

    .buttons
    {
        top: 63%;
        height: 2rem;
    }

    .btn{
        width: 3rem;
    }

    .pause
    {
        margin: 0rem 1rem 0rem 1rem;
    }

    .percentage{
        font-size: 1.3rem;
    }
}

/* medium mobile */
@media only screen and (max-width: 455px){ 
    .container
    {
        width: 80vw;
    }

    .text{
        font-size: 3rem;
    }

    .top-text{
        top: 20%;
    }

    .span-text{
        font-size: 1.2rem;
    }

    .time-text{
        height: 1.5rem;
        font-size: 1.2rem;
    }

    .countdown
    {
        height: 4rem;
    }

    .int-circle{
        width: 73vw;
        height: 73vw;
    }

    .color-fill-div{
        width: 73vw;
        height: 73vw;
    }

    .ext-circle{
        width: 80vw;
        height: 80vw;
    }

    .box
    {
        height: 4rem;
        width: 10vw;
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

    .separators
    {
        font-size: 2.5rem;
        padding-bottom: calc(var(--separators-height)*0.05);
    }

    .buttons
    {
        height: 2rem;
        margin-top: 1.5rem;
    }

    .pause
    {
        margin: 0rem 0.5rem 0rem 0.5rem;
    }

    .percentage{
        top: 90%;
        font-size: 1.3rem;
    }
}

/* small mobile */
@media only screen and (max-width: 374px){
    .span-text{
        font-size: 1rem;
    }

    .time-text{
        height: 1.5rem;
        font-size: 1rem;
        margin-top: 0.2rem;
    }

    .percentage{
        top: 90%;
        font-size: 1rem;
    }
}